.page {
    background-color: #000000;
    font-family: 'Inter', 'Arial', sans-serif;
    position: relative;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    margin: 45px auto 60px auto;
    max-width: 880px;
    min-height: 100vh;
}

