.edit-form__input {
    margin-top: 30px;
    font-family: 'Inter', 'Arial', 'sans-serif';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    padding: 0 0 13px;
}

.edit-form__input:first-of-type {
    margin-top: 54px;
}

@media screen and (max-width: 880px) {
    .edit-form__input:first-of-type {
        margin-top: 75px;
    } 
}

.edit-form__input:focus {
    outline-color: rgb(0, 140, 255);
    outline-style: solid;
    outline-width: 2px;
}

.edit-form__input:invalid {
    border-bottom: 1px solid red;
}

.edit-form__input_type_error {
    border-bottom-color: red;
}