.profile__avatar {
    display: block;
    margin: 0 25px 0 25px;
    min-width: 128px;
    min-height: 128px;
    border-radius: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    object-position: center;
    justify-content: center;
    /* background: url(../../../images/avatar.jpg) center/cover; */
}