@import url(../vendor/normalize.css);
@import url(../vendor/fonts/fonts.css);

@import url(../blocks/page/page.css);
@import url(../blocks/content/content.css);

@import url(../blocks/header/header.css);
@import url(../blocks/header/__logo/header__logo.css);

@import url(../blocks/profile/profile.css);
@import url(../blocks/profile/__avatar/profile__avatar.css);
@import url(../blocks/profile/__info/profile__info.css);
@import url(../blocks/profile/__name/profile__name.css);
@import url(../blocks/profile/__about/profile__about.css);
@import url(../blocks/profile/__item/profile__item.css);
@import url(../blocks/profile/__edit/profile__edit.css);
@import url(../blocks/profile/__add/profile__add.css);

@import url(../blocks/elements/elements.css);
@import url(../blocks/element/element.css);
@import url(../blocks/element/__photo/element__photo.css);
@import url(../blocks/element/__group/element__group.css);
@import url(../blocks/element/__place-name/element__place-name.css);
@import url(../blocks/element/__like-button/element__like-button.css);
@import url(../blocks/element/__like-button/_status/element__like-button_status.css);
@import url(../blocks/element/__delete/element__delete.css);
@import url(../blocks/element/__like-group/element__like-group.css);

@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__text/footer__text.css);

@import url(../blocks/popup/popup.css);
@import url(../blocks/popup/__close/popup__close.css);
@import url(../blocks/popup/__container/popup__container.css);
@import url(../blocks/popup/_opened/popup_opened.css);
@import url(../blocks/popup/__picture/popup__picture.css);
@import url(../blocks/popup/__description/popup__description.css);
@import url(../blocks/popup/__box/popup__box.css);
@import url(../blocks/popup/_picture_blackout/popup_picture_blackout.css);



@import url(../blocks/edit-form/edit-form.css);
@import url(../blocks/edit-form/__title/edit-form__title.css);
@import url(../blocks/edit-form/__submit/edit-form__submit.css);
@import url(../blocks/edit-form/__input/edit-form__input.css);

@import url(../blocks/edit-new/edit-new.css);
@import url(../blocks/edit-new/__input/edit-new__input.css);
@import url(../blocks/edit-new/__submit/edit-new__submit.css);
@import url(../blocks/edit-new/__title/edit-new__title.css);


@import url(../blocks/edit-avatar/edit-avatar.css);
@import url(../blocks/edit-avatar/__title/edit-avatar__title.css);
@import url(../blocks/edit-avatar/__input/edit-avatar__input.css);
@import url(../blocks/edit-avatar/__submit/edit-avatar__submit.css);

@import url(../blocks/edit-delete/edit-delete.css);
@import url(../blocks/edit-delete/__title/edit-delete__title.css);
@import url(../blocks/edit-delete/__submit/edit-delete__submit.css);


.name-form-error {
    color: red;
    display: block;
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    margin: 0;
    min-height: 15px;
    padding: 5px 0 0;
    visibility: hidden;
}

.form__submit_inactive {
    background-color: #f1f1f1;
    cursor: default;
}


.form__field {
    display: flex;
    flex-direction: column;
}

.edit-form-error {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #FF0000;
}

