.profile__info {
    display: grid;
    grid-template-columns: auto auto;
    gap: 16px 18px;
    padding: 0 30px 0 0;
}

@media screen and (max-width:768px) {
    .profile__info {
        gap: 14px 16px;
        margin-left: 34px;
    }
}

@media screen and (max-width:425px) {
    .profile__info {
        margin-top: 22px;
        gap: 10px 14px;
        margin-left: 32px;
    }
}